// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-info"
#define INVADER_BINARY_FILE_NAME "invader-info.exe"
#define INVADER_BINARY_DESCRIPTION "Cache-file information tool"

#include "../windows.rc"
