// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-model"
#define INVADER_BINARY_FILE_NAME "invader-model.exe"
#define INVADER_BINARY_DESCRIPTION "Model tag compiler"

#include "../windows.rc"
