// SPDX-License-Identifier: GPL-3.0-only

#ifndef INVADER_VERSION_MAJOR
#define INVADER_VERSION_MAJOR 0
#define INVADER_VERSION_MINOR 0
#define INVADER_VERSION_PATCH 0
#endif

#define TOSTR2(str) # str
#define TOSTR(str) TOSTR2(str)

#ifndef INVADER_FORK
#define INVADER_FORK "Invader"
#endif

#ifndef INVADER_VERSION_STRING
#define INVADER_VERSION_STRING TOSTR(INVADER_VERSION_MAJOR) "." TOSTR(INVADER_VERSION_MINOR) "." TOSTR(INVADER_VERSION_PATCH)
#endif

#define INVADER_FULL_VERSION_STRING INVADER_FORK " " INVADER_VERSION_STRING

1 VERSIONINFO
FILEVERSION      INVADER_VERSION_MAJOR,INVADER_VERSION_MINOR,INVADER_VERSION_PATCH,0
PRODUCTVERSION   INVADER_VERSION_MAJOR,INVADER_VERSION_MINOR,INVADER_VERSION_PATCH,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments",         "Halo: Combat Evolved tag editor"
            VALUE "CompanyName",      "Kavawuvi"
            VALUE "FileDescription",  "Halo: Combat Evolved tag editor"
            VALUE "FileVersion",      INVADER_FULL_VERSION_STRING
            VALUE "InternalName",     "invader-edit-qt"
            VALUE "OriginalFilename", "invader-edit-qt.exe"
            VALUE "ProductName",      "invader-edit-qt"
            VALUE "ProductVersion",   INVADER_FULL_VERSION_STRING
            VALUE "LegalCopyright",   "'20 Kavawuvi"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
IDI_ICON1 ICON DISCARDABLE "qt.ico"
