// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-compare"
#define INVADER_BINARY_FILE_NAME "invader-compare.exe"
#define INVADER_BINARY_DESCRIPTION "Tag comparison tool"

#include "../windows.rc"
