// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-lightmap"
#define INVADER_BINARY_FILE_NAME "invader-lightmap.exe"
#define INVADER_BINARY_DESCRIPTION "Lightmap compilation tool"

#include "../windows.rc"
