// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-string"
#define INVADER_BINARY_FILE_NAME "invader-string.exe"
#define INVADER_BINARY_DESCRIPTION "String tag generation tool"

#include "../windows.rc"
