// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-convert"
#define INVADER_BINARY_FILE_NAME "invader-convert.exe"
#define INVADER_BINARY_DESCRIPTION "Tag conversion tool"

#include "../windows.rc"
