// SPDX-License-Identifier: GPL-3.0-only

#define INVADER_BINARY_NAME "invader-sound"
#define INVADER_BINARY_FILE_NAME "invader-sound.exe"
#define INVADER_BINARY_DESCRIPTION "Sound tag generation tool"

#include "../windows.rc"
